﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>sb0t Control Panel</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        hr {
            -moz-border-bottom-colors: none;
            -moz-border-image: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #EEEEEE -moz-use-text-color #FFFFFF;
            border-style: solid none;
            border-width: 2px 0;
            margin: 18px 0px;
        }

        body {
            margin: 0 auto;
            padding-top: 0px;
            padding-bottom: 0px;
            width: 940px;
        }

        table {
            border: 1px solid black;
        }

        textarea {
            resize: none;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="loading">
    <div class="navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse collapse">
                    <ul class="nav" data-bind="foreach: navSections">
                        <li data-bind="css: { active: $data == $root.navSectionCurrent() }">
                            <a href="#" data-bind="text: $data, click: $root.changeNavSection"></a>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <button id="btnStartStop" type="button" class="btn btn-small"
                                data-bind="css: { 'btn-success': isServerRunning(), 'btn-danger': isServerRunning() == false }, text: btnStartStopText">
                        </button>
                        <!-- 
                            <button type="submit" class="btn btn-small btn-success">Logged in</button>
                            <button type="submit" class="btn btn-small btn-danger">Logged off</button>
                            -->

                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="well">
        <br />
        <br />
        <!-- ko if: navSectionCurrent() == navSections[0] -->
        <ul class="nav nav-pills" data-bind="foreach: navSubSections">
            <li data-bind="css: { active: $data == $root.navSubSectionCurrent() }">
                <a href="#" data-bind="text: $data, click: $root.changeNavSubSection"></a>
            </li>
        </ul>
        <hr />

        <div class="row">
            <div class="span1">&nbsp;</div>
            <div class="span9">
                @Html.Partial("Main")
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="loading-modal"><!-- Place at bottom of page --></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="@Scripts.Url("~/Scripts/app/SbotSettings.viewmodel.js")"></script>
    <script>
        $(function () {
            var viewModel = new SbotSettingsViewModel();

            ko.applyBindings(viewModel);

            $(document).ajaxStart(function () {
                $('body').addClass("loading");
            });

            $(document).ajaxStop(function () {
                $('body').removeClass("loading");
            });
// Buggy?            $(document).tooltip();

            $("#btnStartStop").click(function() {
                if (viewModel.isServerRunning() == false) {
                    $.post('/Server/Start', null, function(data) {
                        if (data != null && data.IsRunning != null && data.IsRunning)
                            viewModel.isServerRunning(true);
                    });
                } else {
                    $.post('/Server/Stop', null, function() {
                        viewModel.isServerRunning(false);
                    });
                }
            });

            $.getJSON('/Server/Status', null, function(data) {
                if (data == undefined) {
                    viewModel.isServerRunning(false);
                    return;
                }


                if (data.IsRunning == undefined || data.IsRunning == null) {
                    viewModel.isServerRunning(false);
                    return;
                }

                viewModel.isServerRunning(data.IsRunning);

            }).retry({ times: 3 });

            $('body').removeClass("loading");
        });
    </script>
</body>
</html>
