﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>sb0t Control Panel</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        hr {
            -moz-border-bottom-colors: none;
            -moz-border-image: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #EEEEEE -moz-use-text-color #FFFFFF;
            border-style: solid none;
            border-width: 2px 0;
            margin: 18px 0px;
        }

        body {
            margin: 0 auto;
            padding-top: 0px;
            padding-bottom: 0px;
            width: 940px;
        }

        table {
            border: 1px solid black;
        }

        textarea {
            resize: none;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse collapse">
                    <ul class="nav" data-bind="foreach: navSections">
                        <li data-bind="css: { active: $data == $root.navSectionCurrent() }">
                            <a href="#" data-bind="text: $data, click: $root.changeNavSection"></a>
                        </li>
                    </ul>

                    <div class="pull-right">
                        @if (Session["login"] != null && ((bool?)Session["login"]).Value == true)
                        {
                            <button type="submit" class="btn btn-small btn-success">Logged in</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-small btn-danger">Logged off</button>
                        }

                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="well">
        <br />
        <br />

        <ul class="nav nav-pills" data-bind="foreach: navSubSections">
            <li data-bind="css: { active: $data == $root.navSubSectionCurrent() }">
            <a href="#" data-bind="text: $data, click: $root.changeNavSubSection"></a>
            </li>
        </ul><hr>


        <form method="post" class="form-inline" action="#">
            <div class="row">
                <div class="span1">&nbsp;</div>
                <div class="span9">
                    <dl class="dl-horizontal">
                       @RenderBody();
                    </dl>
                </div>
            </div>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="@Scripts.Url("~/Scripts/app/SbotSettings.viewmodel.js")"></script>
    <script>
        $(function () {
            ko.applyBindings(new SbotSettingsViewModel());
        });
    </script>
</body>
</html>
